/* 全体のスタイル */
body {
    margin: 0; /* マージンをリセット */
    font-family: Arial, sans-serif; /* フォント設定 */
}

/* 背景を設定 */
.full-img{
    background-image: url(back.jpeg); /* 画像のURLを指定       */
    background-size:cover;                 /* 画像のサイズを指定    */
    width:100%;                              /* 横幅のサイズを指定    */
    height:400px;                            /* 縦幅のサイズを指定    */
}

/* コンテンツのスタイル */

/* ボタンのスタイル */
.button {
    padding: 10px 20px; /* ボタンのパディング */
    color: white; /* ボタンの文字色 */
    background-color: #ff5733; /* ボタンの背景色 */
    border: none; /* ボーダーをなしに設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s; /* ホバー時の背景色変化にアニメーションを追加 */
}

.button:hover {
    background-color: #c70039; /* ホバー時の背景色 */
}
